*.egg-info/
__pycache__/
.ipynb_checkpoints/

.DS_Store
.vscode

*.zip
*.tgz

data/*
!data/*.py
!data/*.md
!data/*.json
!data/hm3d/*
!data/scannet/*
!data/predictions
!data/metrics
!data/metrics-caree
!data/predictions-caree

assets/demo_frames/*
